@model IEnumerable<HKQTravel.Models.user_account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.update_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tour_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hotel_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.update_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tour_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flight_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hotel_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.user_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.user_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.user_id })
        </td>
    </tr>
}

</table>
